body{
    background-color: black;
    background-image: url(/Aula\ 3\ -\ CSS/img/neve.jpg);
    background-repeat:repeat-y;
    background-size:100%;
}
p{
    color: gold;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}