body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rebeccapurple;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 280px;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
    text-align: center;
}

input[type="number"], input[type="submit"] {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}

input[type="submit"] {
    background: #007BFF;
    color: white;
    border: black;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: blue;
}

.resultado {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
}

.aprovado {
    background-color: #d4edda;
    color: #155724;
}

.reprovado {
    background-color: #f8d7da;
    color: #721c24;
}

a {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}